<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Page</title>
    <style>
        a {
            text-decoration: none;
        }
        p {
            margin-top: 4px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>All Users</legend>
        <table cellpadding="5" border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% list.forEach(user => { %>
                    <tr>
                        <td> <a href="/users/<%= user.id %>"> <%= user.name %> </a> </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </fieldset>
    <br>
    <% if (errors.length > 0) { %>
        <% errors.forEach( err => { %>
            <p> <%= err %> </p>
        <% }) %>
    <% } else if (success.length > 0) { %>
        <% success.forEach( succ => { %>
            <p> <%= succ %> </p>
        <% }) %>
    <% } %>

    <fieldset>
        <legend>Registration</legend>
        <form action="/users" method="post">
            <label for="name">Name:</label>
            <br>
            <input type="text" name="name" id="name" placeholder="Enter your name"  value="<%= name %>">
            <p> <%= getFieldError(validatorErrors, 'name') %> </p>
   
            <label for="email">Email:</label>
            <br>
            <input type="text" name="email" id="email" placeholder="Enter your email address" value="<%= email %>" >
            <p> <%= getFieldError(validatorErrors, 'email') %> </p>
        
            <label for="password">Password:</label>
            <br>
            <input type="password" name="password" id="password" placeholder="Enter password" >
            <p> <%= getFieldError(validatorErrors, 'password') %> </p>
       
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>